{% macro rangliste(rangliste, columns, limit, showTrophies) %}
    {% set mapping={'gleich': 'minus', 'steigend': 'chevron-up', 'fallend': 'chevron-down'} %}

    <table class="table table-bordered table-striped table-condensed ranking">
        <thead>
            <tr>
                {% if 'rang' in columns %}<th>Rang</th>{% endif %}
                {% if 'tendenz' in columns %}<th></th>{% endif %}
                {% if 'name' in columns %}<th>Name</th>{% endif %}
                {% if 'einstufung' in columns %}<th>Einstufung</th>{% endif %}
                {% if 'stammlokal' in columns %}<th>Stammlokal</th>{% endif %}
                {% if 'punkte' in columns %}<th>Punkte</th>{% endif %}
                {% if 'teilnahmen' in columns %}<th>Teilnahmen</th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% for rang in rangliste.raenge(limit | default(false)) %}
            <tr class="{{rang.spieler.einstufung}} {{rang.spieler.geschlecht}}">
                {% if 'rang' in columns %}
                    <td>
                        {{rang.rang}}
                        {% if showTrophies %}
                            {% if loop.index <= 3 %}
                                <i class="icon-trophy
                                {% if loop.index == 1%}
                                    gold
                                {% elseif loop.index == 2 %}
                                    silver
                                {% elseif loop.index == 3 %}
                                    bronze
                                {% endif %}
                                "></i>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endif %}
                {% if 'tendenz' in columns %}<td><i class="icon-large icon-{{mapping[rang.tendenz]}}"></i></td>{% endif %}
                {% if 'name' in columns %}<td>{{rang.spieler.name}}</td>{% endif %}
                {% if 'einstufung' in columns %}<td>{{rang.spieler.einstufung}}</td>{% endif %}
                {% if 'stammlokal' in columns %}<td>{{rang.spieler.stammlokal.name}}</td>{% endif %}
                {% if 'punkte' in columns %}<td>{{rang.punkte}}</td>{% endif %}
                {% if 'teilnahmen' in columns %}<td>{{rang.teilnahmen}}</td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}