{% extends "KcbBonnligaWebsiteBundle:Layout:base.html.twig" %}

{% block title %}
Turniere
{% endblock%}

{% block body %}

    <fieldset>
        <legend>Nächste Turniere</legend>

        {% for i, turnier in comingUp  %}
            {% if i % 4 == 0 %}
                {% if i > 0 %}
                    </div>
                {% endif %}

                <div class="row-fluid show-grid">
            {% endif %}

            <div class="span3 {% if turnier.beginn > date_shift('+1 week') %}farAway{% endif %}">
                <h4>{{ turnier.beginn | date('l, d. F') }}</h4>
                <ul class="location }">
                    <li class="icon-home">
                        <a href="{{ path("kcb_bonnliga_website_location_spielstaettedetail", {id: turnier.spielstaette.id}) }}"><strong>{{ turnier.spielstaette.name }}</strong></a>,
                        {{ turnier.spielstaette.adresse }}
                    </li>
                    <li class="icon-info-sign">{{ turnier.spielstaette.beschreibung | nl2br }}</li>
                </ul>
            </div>
        {% endfor %}

    </fieldset>

    <fieldset>
        <legend>Vergangene Turniere</legend>

        {% for i, turnier in past %}
            {% if i % 4 == 0 %}
                {% if i > 0 %}
                    </div>
                {% endif %}

                <div class="row-fluid show-grid">
            {% endif %}

            <div class="span3 {% if turnier.beginn > date_shift('+1 week') %}farAway{% endif %}">
                <h4>{{ turnier.beginn | date('l, d. F') }}</h4>
                <ul class="location }">
                    <li class="icon-home">
                        <a href="{{ path("kcb_bonnliga_website_location_spielstaettedetail", {id: turnier.spielstaette.id}) }}"><strong>{{ turnier.spielstaette.name }}</strong></a>,
                        {{ turnier.spielstaette.adresse }}
                    </li>
                    <li class="icon-info-sign">{{ turnier.spielstaette.beschreibung | nl2br }}</li>
                    <li class="icon-trophy">Ergebnis</li>
                </ul>
            </div>
        {% endfor %}
    </fieldset>
{% endblock %}