{% macro list(turniere) %}
    <div class="row-fluid">
        <div class="span12">
            <ul class="thumbnails">
                {% for turnier in turniere %}
                    <li class="span2 {% if turnier.nichtBald %}farAway{% endif %} thumbnail">
                        {{ _self.compact(turnier) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endmacro %}

{% macro compact(turnier) %}
    <div>
        <strong><a href="{{ turnierPath(turnier) }}">
            <i class="icon-calendar"></i> {{ _self.date(turnier) }}
        </a></strong>
    </div>
    <div>
        <span class="icon-home"></span> {{ turnier.spielstaette.name }}
        {% if turnier.platzierungen | length > 0 %}
        <br /><span class="icon-user"></span> {{ turnier.platzierungen | length }}
        {% endif %}
    </div>
{% endmacro %}

{% macro date(turnier) %}
    {{ turnier.beginn | date('%A') }},
    {{ turnier.beginn | date('%d. %B') }}
    um {{ turnier.beginn | date('%R') }} Uhr
{% endmacro %}