Pott <span class="pull-right">{{ pott|number_format(2, ",", ".") }}€</span>

<div>
    <hr />
    <ul>
        <li>Master <span class="pull-right">{{ master|number_format(2, ",", ".") }}€</span></li>
        <li>Ladies <span class="pull-right">{{ ladies|number_format(2, ",", ".") }}€</span></li>
        <li>Hobby <span class="pull-right">{{ hobby|number_format(2, ",", ".") }}€</span></li>
        <li>Pros <span class="pull-right">{{ pro|number_format(2, ",", ".") }}€</span></li>
    </ul>
</div>