Pott <span class="pull-right">{{ pott }}€</span>

<div>
    <hr />
    <ul>
        <li>Master <span class="pull-right">{{ master }}€</span></li>
        <li>Ladies <span class="pull-right">{{ ladies }}€</span></li>
        <li>Hobby <span class="pull-right">{{ hobby }}€</span></li>
        <li>Pros <span class="pull-right">{{ pro }}€</span></li>
    </ul>
</div>