<!DOCTYPE html>
<html lang="de" xml:lang="de">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - Bonnliga</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="language" content="de" />
        <meta name="google" value="notranslate">

        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

        {% if app.environment == 'dev' %}
            <script> /* Provisory for dev environment: */ localStorage.clear(); </script>

            <link type="text/css"  rel="stylesheet/less" href="{{ asset("bundles/kcbbonnligawebsite/less/bootstrap.less") }}">
            <script src="{{ asset("bundles/kcbbonnligawebsite/js/less-1.3.0.min.js") }}"></script>

            <script type="text/javascript">
                less.env = "development";
                less.watch();
            </script>
        {% else %}
            <link rel="stylesheet" type="text/css" href="{{ asset("bundles/kcbbonnligawebsite/css/bonnliga.css") }}">
        {% endif %}
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{{ path('kcb_bonnliga_website_home_index') }}">Bonnliga</a>
                    <div class="nav-collapse">
                        {{ knp_menu_render('KcbBonnligaWebsiteBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
                    </div>
                    <div class="pott">
                        {% render "KcbBonnligaWebsiteBundle:Pott:details" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid main">
            <div class="row-fluid">
                {% block body %}{% endblock %}
            </div>
            <div>
                &copy; <a href="http://kickercrewbonn.de">Kicker Crew Bonn e.V.</a> 2012
            </div>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="{{ asset("bundles/kcbbonnligawebsite/js/bootstrap.min.js") }}"></script>
        <script src="{{ asset("bundles/kcbbonnligawebsite/js/jquery.fixedheader.min.js") }}"></script>
        <script src="{{ asset("bundles/kcbbonnligawebsite/js/scripts.js") }}"></script>

        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.3-h.org/" : "http://stats.3-h.org/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
            try {
            var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 19);
            piwikTracker.trackPageView();
            piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script><noscript><p><img src="http://stats.3-h.org/piwik.php?idsite=19" style="border:0" alt="" /></p></noscript>
        <!-- End Piwik Tracking Code -->
    </body>
</html>