{% extends "KcbBonnligaWebsiteBundle:Layout:base.html.twig" %}

{% block title %}
Wanderpokal
{% endblock%}

{% block body %}
    <div class="span12">
        <h1>Wanderpokal</h1>

        <ul>
            {% for monat in monate %}
                <li>
                    <h2>{{ monat.monat | strftimeDate('%B') }} {{ monat.monat | strftimeDate('%Y') }}</h2>
                    <ul>
                        {% for rang in monat.raenge %}
                            <li>
                                {{ loop.index }}. <a href="{{ locationPath(rang.stammlokal) }}">{{ rang.stammlokal.name }}</a> mit durchschnittlich {{ rang.punkte }} Punkten
                                <ul>
                                    {% for bester in rang.beste %}
                                        <li>{{ bester.spieler.name }} mit {{ bester.punkte }} Punkten</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>


    </div>
{% endblock %}