{% extends "KcbBonnligaWebsiteBundle:Layout:base.html.twig" %}
{% import "KcbBonnligaWebsiteBundle:Turnier:macros.html.twig" as turnierMacros %}
{% import "KcbBonnligaWebsiteBundle:Rangliste:macros.html.twig" as ranglisteMacros %}

{% block title %}
Home
{% endblock%}

{% block body %}
    <div class="span12">
        <div class="hero-unit">
            <h1>Bonnliga <small> since 2008</small></h1>
            <p>Bonns erste und bisher einzigartige Tischfussballliga. Kickern für jeden, vom Anfänger bis zum Profi.</p>
            <p><a class="btn btn-primary btn-large" href="{{ path("kcb_bonnliga_website_fact_index") }}">Neu hier?</a></p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h2>Die Topspieler</h2>
            <div class="row-fluid">
                {% for definition in [
                    {label: 'Gesamt', rangliste: gesamtRangliste, route: 'kcb_bonnliga_website_rangliste_gesamt'},
                    {label: 'Hobby', rangliste: hobbyRangliste, route: 'kcb_bonnliga_website_rangliste_hobby'},
                    {label: 'Ladies', rangliste: ladyRangliste, route: 'kcb_bonnliga_website_rangliste_ladies'},
                    {label: 'Pro', rangliste: proRangliste, route: 'kcb_bonnliga_website_rangliste_pro'},
                ] %}
                    <div class="span3">
                        <h3><a href="{{ path(definition['route'])}}">{{ definition['label'] }}</a></h3>
                        {{ ranglisteMacros.rangliste(
                            definition['rangliste'],
                            ['rang', 'name', 'punkte'],
                            3,
                            true
                        ) }}
                    </div>
                {% endfor %}
            </div>
    </div>

    <div class="row-fluid">
        <div class="span8">
            <h2>Die nächsten Turniere</h2>
            {{ turnierMacros.list(comingUp) }}
        </div>

        <div class="span4">
            <h2>Sponsoren</h2>

            <div>
                <a href="{{ path('kcb_bonnliga_website_sponsor_index') }}#kcb">
                    <img src="{{ asset("bundles/kcbbonnligawebsite/img/logo_kcb.png") }}" />
                </a>
            </div>
        </div>

    </div>


{% endblock %}