{% extends "KcbBonnligaWebsiteBundle:Layout:base.html.twig" %}
{% import "KcbBonnligaWebsiteBundle:Turnier:macros.html.twig" as turnierMacros %}
{% import "KcbBonnligaWebsiteBundle:Location:macros.html.twig" as locationMacros %}
{% import "KcbBonnligaWebsiteBundle:Rangliste:macros.html.twig" as ranglisteMacros %}

{% block title %}
Spielstätte
{% endblock%}

{% block body %}
<div class="span12" style="margin-bottom: 20px;">
    {% if spielstaette.logoUrl %}
        <img src="{{ spielstaette.logoUrl }}" alt="Logo {{ spielstaette.name }}"/>
    {% else %}
        <h1>{{spielstaette.name}}</h1>
    {% endif %}
</div>

<div class="row-fluid">
    {% if spielstaette.adresse or spielstaette.beschreibung %}
        <div class="span6">
            <h2><i class="icon-info-sign"></i> Wissenswertes</h2>
            <div class="thumbnail">
                {% if spielstaette.adresse %}
                    <img src="http://maps.googleapis.com/maps/api/streetview?location={{ spielstaette.adresse | url_encode }}&size=320x240&sensor=false" />
                {% endif %}
                {% if spielstaette.beschreibung %}
                    <p>{{ spielstaette.beschreibung | nl2br }}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if spielstaette.adresse or spielstaette.oeffnungszeiten %}
        <div class="span6">
            <h2><i class="icon-home"></i> Adresse</h2>
            <div class="thumbnail">
                {% if spielstaette.adresse %}
                    <img src="http://maps.google.com/maps/api/staticmap?center={{ spielstaette.adresse | url_encode }}&zoom=15&size=320x240&markers=color:blue%7C{{ spielstaette.adresse | url_encode }}&sensor=false" alt="Karte {{ spielstaette.name }}" />

                    <p>{{ spielstaette.adresse | nl2br }}</p>
                    <p><a href="http://maps.google.de?q={{ spielstaette.adresse | url_encode }}">Auf google maps finden</a></p>
                {% endif %}
                {% if spielstaette.oeffnungszeiten %}
                    <h2><i class="icon-time"></i> Öffnungszeiten</h2>
                    <p>{{ spielstaette.oeffnungszeiten | nl2br }}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
<div class="row-fluid">
    <div class="span6">
        <h2><i class="icon-calendar"></i> Nächsten Turniere</h2>
        {% if spielstaette.kommendeTurniere %}
            {{ turnierMacros.list(spielstaette.kommendeTurniere) }}
        {% else %}
            <p>Keine geplanten Turniere <i class="icon-thumbs-down"></i></p>
        {% endif %}
    </div>

    <div class="span6">
        {{ locationMacros.stammspieler(spielstaette) }}
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        {% set rangliste = spielstaetteRangliste %}
        {% if rangliste.raenge(false) %}
            <h2>Rangliste über alle Turniere, die in dieser Spielstätte stattgefunden haben</h2>
            {{ ranglisteMacros.rangliste(
                rangliste,
                ['rang', 'tendenz', 'name', 'einstufung', 'stammlokal', 'punkte', 'teilnahmen']
            ) }}
        {% endif %}

        {% set rangliste = stammlokalRangliste %}
        {% if rangliste.raenge(false) %}
            <h2>Rangliste der Stammspieler dieser Spielstätte</h2>
            {{ ranglisteMacros.rangliste(
                rangliste,
                ['rang', 'tendenz', 'name', 'einstufung', 'punkte', 'teilnahmen']
            ) }}
        {% endif %}
    </div>
</div>
{% endblock %}