{% extends "KcbBonnligaWebsiteBundle:Layout:base.html.twig" %}
{% import "KcbBonnligaWebsiteBundle:Turnier:macros.html.twig" as turnierMacros %}
{% import "KcbBonnligaWebsiteBundle:Location:macros.html.twig" as locationMacros %}

{% block title %}
Spielstätte
{% endblock%}

{% block body %}
    <div class="span10">
        <h1>{{spielstaette.name}}</h1>

        {% if spielstaette.logoUrl %}
            <div><img src="{{ spielstaette.logoUrl }}" alt="Logo {{ spielstaette.name }}"/></div>
        {% endif %}

        {% if spielstaette.beschreibung %}
            <h2><i class="icon-info-sign"></i> Wissenswertes</h2>
            <p>{{ spielstaette.beschreibung | nl2br }}</p>
        {% endif %}

        <h2><i class="icon-calendar"></i> Nächsten Turniere</h2>
        {% if spielstaette.kommendeTurniere %}
            {{ turnierMacros.list(spielstaette.kommendeTurniere) }}
        {% else %}
            <p>Keine geplanten Turniere <i class="icon-thumbs-down"></i></p>
        {% endif %}

        {% if spielstaette.adresse %}
            <h2><i class="icon-home"></i> Adresse</h2>
            <div class="thumbnail span3">
                    <img src="http://maps.google.com/maps/api/staticmap?center={{ spielstaette.adresse | url_encode }}&zoom=15&size=320x240&markers=color:blue%7C{{ spielstaette.adresse | url_encode }}&sensor=false" alt="Karte {{ spielstaette.name }}" />
            </div>
            <p>{{ spielstaette.adresse | nl2br }}</p>
            <p><a href="http://maps.google.de?q={{ spielstaette.adresse | url_encode }}">Auf google maps finden</a></p>
        {% endif %}

        {% if spielstaette.oeffnungszeiten %}
            <h2><i class="icon-time"></i> Öffnungszeiten</h2>
            <p>{{ spielstaette.oeffnungszeiten | nl2br }}</p>
        {% endif %}

        {{ locationMacros.stammspieler(spielstaette) }}
    </div>
{% endblock %}