{% extends "KcbBonnligaWebsiteBundle:Layout:base.html.twig" %}

{% block title %}
Spielstätte
{% endblock%}

{% block body %}
    <div class="span12">
        <h2>{{spielstaette.name}}</h2>

        <ul class="thumbnails">
            <li class="span3">
                <div class="thumbnail">

                    <img src="http://maps.googleapis.com/maps/api/streetview?location={{ spielstaette.adresse | url_encode }}&size=320x240&sensor=false" />

                    <div class="caption">
                        <h4><i class="icon-info-sign"></i> Wissenswertes</h4>
                        <p>
                            {% if spielstaette.beschreibung | length > 0 %}
                                {{ spielstaette.beschreibung | nl2br }}
                            {% else %}
                                Leider haben wir keine genauen Informationen, aber hier wird zumindest gekickert!
                            {% endif %}
                        </p>
                        <h4><i class="icon-calendar"></i> Nächsten Turniere</h4>

                        {% if spielstaette.kommendeTurniere|length > 0 %}
                            <ul>
                                {% for turnier in spielstaette.kommendeTurniere %}
                                    <li>{{ turnier.beginn | date('l, d. F - h:i') }} Uhr</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Keine geplanten Turniere <i class="icon-thumbs-down"></i></p>
                        {% endif %}
                    </div>
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail">

                    <img src="http://maps.google.com/maps/api/staticmap?center={{ spielstaette.adresse | url_encode }}&zoom=15&size=320x240&markers=color:blue%7C{{ spielstaette.adresse | url_encode }}&sensor=false" alt="">

                    <div class="caption">
                        <h4><i class="icon-home"></i> Adresse</h4>
                        <p>{{ spielstaette.adresse | nl2br }}</p>
                        <p>
                            <a href="http://maps.google.de?q={{ spielstaette.adresse | url_encode }}">
                                Auf google maps finden
                            </a>
                        </p>

                        {% if spielstaette.oeffnungszeiten | length > 0 %}
                            <h5><i class="icon-time"></i> Öffnungszeiten</h5>
                            <p>{{ spielstaette.oeffnungszeiten | nl2br }}</p>
                        {% endif %}
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}